# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.T3_P10__TowerAttack.iml
# Editor-based HTTP Client requests
/httpRequests/
